header {
    font-family: 'Lora', serif;
    font-size: 65px;
    padding: 15px;
}

main {
    padding-top: 50px;
    margin: 40px;
}

.card-header {
    font-family: 'Lora', serif;
}

.card-body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-text {
    font-size: 15px;
}
